<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    </header>

    <main id="content" class="main-content" role="main">
      <div id="live-demo">
        <p>Your current preferences are…</p>
        <ul>
          <li>
            <p><strong>prefersReducedMotion()</strong>: <span id="prefersReducedMotion"></span></p>
            <p><strong>lightLevel()</strong>: <span id="lightLevel"></span></p>
          </li>
        </ul>
      </div>

      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">Proudly generated and hosted by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/magica11y@latest/dist/magica11y.all.min.js"></script>
    <script>
      (function () {
        'use strict';

        var prefersReducedMotionElement = document.querySelector('#prefersReducedMotion');
        prefersReducedMotionElement.textContent = window.magica11y.all.prefersReducedMotion();

        var lightLevelElement = document.querySelector('#lightLevel');
        lightLevelElement.textContent = window.magica11y.all.lightLevel();
      })();
    </script>
  </body>
</html>
